<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movieplus.domain.db.read.RSeatMasterMapper">
	<resultMap id="ResultMap" type="java.util.LinkedHashMap">
		<id column="id" jdbcType="VARCHAR" javaType="java.lang.String" property="id" />
		<result column="seat_row" jdbcType="INTEGER" javaType="java.lang.Integer" property="seatRow" />
		<result column="seat_colume" jdbcType="INTEGER" javaType="java.lang.Integer" property="seatColume" />
		<result column="seat_size" jdbcType="INTEGER" javaType="java.lang.Integer" property="seatSize" />
		<result column="seat_type" jdbcType="INTEGER" javaType="java.lang.Integer" property="seatType" />
	</resultMap>
	<select id="selectWhere" parameterType="String" resultMap="ResultMap">
		SELECT
    	id,
    	seat_row,
    	seat_colume,
    	seat_size,
    	seat_type
    FROM 
    	seat_master
		<if test="where != null">
			WHERE
		${where}
			<if test="orderBys != null and orderBys.size > 0">
				ORDER BY
				<foreach item="orderBy" collection="orderBys" separator=", ">${orderBy}</foreach>
			</if>
			<if test="limit > 0">
		LIMIT #{limit}
	</if>
			<if test="offset > 0">
		OFFSET #{offset}
	</if>
		</if>
	</select>
</mapper>