<div *ngIf="siteInfoList$ | async; let listOfData">
  <nz-table
    #editRowTable
    nzShowPagination="false"
    nzShowSizeChanger="false"
    nzBordered
    [nzData]="listOfData"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th nzWidth="40%">id</th>
        <th nzWidth="25%">siteName</th>
        <th nzWidth="15%">localtion</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <ng-container *ngIf="!editCache[data.id].edit; ele: editTemplate">
          <td>{{ data.id }}</td>
          <td>{{ data.siteName }}</td>
          <td>{{ data.localtion }}</td>
          <td><a (click)="startEdit(data.id)">Edit</a></td>
        </ng-container>
        <ng-template #editTemplate>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.siteName"
            />
          </td>
          <td>
            <input
              type="text"
              nz-input
              [(ngModel)]="editCache[data.id].data.localtion"
            />
          </td>
        </ng-template>
      </tr>
    </tbody>
  </nz-table>
  <app-pagination [pagination]="pagination" />
</div>
